<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>TaleCraft</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" href="chat_styles.css" />
    </head>

    <div class="container px-0 py-2" id="chat-box">
            <div class="storyteller-text">
                You wake up in a post-apocalyptic world...
            </div>
        </div>
    </div>

    <div class="container px-0">
        <div class="row align-items-end">
            <div class="col">
                <div class="form-group" style="display: flex; align-items: center">
                    <input type="text" class="form-control" placeholder="What do you do?" id="storyResponse">
                    <button type="submit" class="btn btn-primary mx-2" onclick="sendStoryResponse()">Go!</button>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="chat_script.js"></script>
</html>