:root {
    font-size: 62.5%;
    --bg-color: #201f40;
    --primary-color: #fff6f6;
    --secondary-color: #a61473;
    --accent-color: #d90b91;
  }
  
  body {
    background-color: var(--bg-color);
    font-family: "VT323", monospace;
    color: var(--primary-color);
    height: 100vh;
  }
  
  .navbar {
    overflow: hidden;
    background-color: var(--bg-color);
    border-bottom: 1px solid #373654;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-evenly;
    color: var(--primary-color);
  }
  
  .navbar-item-container {
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 1.5px;
    margin-right: 13rem;
  }

  
  .navbar-item-container a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: all 0.6s ease-in-out;
    font-weight: 700;
    font-size: 3.5rem;
  }
  
  .navbar-item-container a:hover {
    color: var(--secondary-color);
  }
  
  .navbar-button {
    background-color: var(--accent-color);
    color: var(--primary-color);
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-weight: 700;
    font-size: 2.3rem;
  }

  .navbar-button a {
    text-decoration: none;
    color: var(--primary-color)
  }

  .book .texttale {
    display: inline;
  }
  .book {
    width: 100px;
    height: auto;
    padding: 0;
  }
  
  .texttale {
    color: white;
    position: absolute;
    margin-left: -665px;
    margin-top: 12px;
    font-size: 45px;
  }
  
  .home {
    color: var(--primary-color);
  }

  .svg {
    fill: var(--primary-color);
  }
  
  /* MAIN */
  
  .main-container {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .main-container h1 {
    font-size: 8rem;
  }
  
  .main-container h2 {
    font-size: 2.5rem;
  }
  
  .main-container img {
    filter: blur(0.3px);
    max-width: 400px;
  }
  
  span {
    color: var(--accent-color);
  }
  
  /* search bar */
  .search-box {
    display: flex;
    justify-content: center;
    padding: 5rem 0rem;
  }
  
  .box {
    height: 50px;
    display: flex;
    cursor: pointer;
    padding: 10px 20px;
    background: #fff;
    border-radius: 30px;
    align-items: center;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
    margin-top: -50px;
  }
  
  .box input {
    width: 400px;
    outline: none;
    border: none;
    font-weight: 500;
    transition: 0.8s;
    background: transparent;
  }
  
  .box a .fas {
    color: #d90b91;
    font-size: 25px;
    margin-left: -5px;
  }
  
  input[type="text"]{
    font-size: 2rem;
    width: 500px;
  }
  
  h1,
  h1 p {
    display: inline;
  }
  
  h2,
  .thrilling {
    display: inline;
  }
  
  .thrilling {
    color: #d90b91;
  }
  
  .game {
    color: #d90b91;
  }
  
  .instruc {
    color: white;
    font-size: 25px;
    margin-top: -10px;
  }
  
  .logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .logo-container h2 {
    font-size: 4rem;
  }
  
  /* genres */
  
  .genres {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    width: 100%;
    height: 100vh;
    padding: 0 2rem;
    color: var(--primary-color);
  }
  
  .row-one, .row-two {
      margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0rem 5rem;
    width: 100%;
  }
  
  .genres h2 {
      font-size: 5rem;
  }

  .genres button {
    border: none;
    text-align: center;
    text-decoration: none;
    font-size: 5rem;
    padding: 10rem 10rem;
    color: var(--primary-color);
    width: 100%;
    height: 100%;
    border-radius: 1.2rem;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.4);
  }
  
  #fantasy {
    background-image: url("fantasy.jpeg");
  }
  
  #sci-fi {
      background-image: url("sci-fi.jpeg");
  }
  
  #romance{
      background-image: url("romance.jpeg");
  }
  
  #horror {
      background-image: url("horror.jpeg");
  }
  
  #adventure {
      background-image: url("adventure.jpeg");
  }
  
  #mystery {
      background-image: url("mystery.jpeg");
  }
  
  #fantasy, #sci-fi, #romance, #horror, #adventure, #mystery{
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9); /* This adds a dark shadow to the text */
      background-size: cover;
      transition: all 0.4s ease-in-out;
      opacity: 0.8;
  }

#fantasy:hover, 
#sci-fi:hover, 
#romance:hover, 
#horror:hover, 
#adventure:hover, 
#mystery:hover {
      opacity: 1;
  }
  
  .animate {
    opacity: 0;
    transform: translateX(-100px);
    filter: blur(5px);
    transition: opacity 1s, transform 1s, filter 1s;
  }
  
  .animate.active {
    opacity: 1;
    transform: translateX(0);
    filter: blur(0);
  }
  

  /* New styles for contact added */
#contact{
  font-size:55px;
  margin-left:175px;
  margin-top:100px;
  color:#D90B91;
}

#sendmsg{
font-size:40px;
color:gainsboro;

}

#message{
  font-size:40px;
  margin-left:20px;
  margin-top:-10px;
  color:gainsboro;
  
}

.text input,
.text textarea{
  width: 250px; /* Adjust the width as needed */
  height: 65px; /* Adjust the height as needed */
  font-size:25px;
  padding:15px;
  margin-left:300px;
  margin-top:90px;
  border:solid black 3.25px;
  border-radius:5px;
  position:absolute;
}

.email input,
.email textarea{
  width: 250px; /* Adjust the width as needed */
  height: 65px; /* Adjust the height as needed */
  font-size:25px;
  padding:15px;
  margin-left:300px;
  margin-top:190px;
  border:solid black 3.25px;
  border-radius:5px;
  position:absolute;
}

.message1 input,
.message1 textarea{
  width: 250px; /* Adjust the width as needed */
  height: 65px; /* Adjust the height as needed */
  font-size:25px;
  padding:15px;
  margin-left:300px;
  margin-top:300px;
  border:solid black 3.25px;
  border-radius:5px;
  position:absolute;
}

#sendmsg{
  font-size:35px;
  margin-left:175px;
  margin-top:-16px;
  color:gainsboro;
  position:absolute;
}

.sbmitbutton input,
.sbmitbutton textarea{
  margin-left:300px;
  margin-top:20px;
  height:50px;
  width:150px;
  font-size:30px;
  background:#cc99ff;
  border:solid black 3.25px;
  border-radius:5px;
}

.sbmitbutton {
  margin-left: 300px;
  margin-top: 390px;
  height: 65px;
  width: 250px;
  font-size: 40px;
  background: #D90B91;
  border: solid black 3.25px;
  border-radius: 5px;
  position:absolute;
  letter-spacing:1.5px;
}

.sbmitbutton input:hover{
  background-color:skyblue;
}

#loal{
  position:absolute;
  top:0;
  margin-top:245px;
  height:auto;
  width:85px;
  margin-left:210px;
}

#loal1{
  position:absolute;
  top:0;
  height:auto;
  width:100px;
  margin-top:350px;
  margin-left:200px;
}

#loal2{
  position:absolute;
  top:0;
  height:auto;
  width:130px;
  margin-top:425px;
  margin-left:184px;
}

#submitpng{
  position:absolute;
  top:0;
  height:auto;
  width:100px;
  margin-top:540px;
  margin-left:195px;

}